#app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

#content {
  border-bottom: none;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#toastr-slot {
  display: none;
}

.masthead.segment {
  padding: 1em 0em;
  background: Black url("/images/landing.jpg") !important;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  background-position: center !important;
}

.masthead .ui.menu .ui.button {
  margin-left: 0.5em;
}

.ui.vertical.stripe {
  padding: 8em 0em;
}

.ui.vertical.stripe h3 {
  font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
  margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
  clear: both;
}

.ui.vertical.stripe p {
  font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
  margin: 3em 0em;
}

.quote.stripe.segment {
  padding: 3em;
}

.quote.stripe.segment .grid .column {
  padding-top: 5em;
  padding-bottom: 5em;
}

.footer.segment {
  padding: 4em 0em;
}

.ui.large.secondary.inverted.pointing.menu {
  border: 0px;
}

#photogram-header-simple {
  font-family: Yellowtail;
  font-size: 3em;
  padding: .25em;
  font-weight: normal;
  color: White;
}

.hidden {
  display: none;
}

.pusher {
  width: calc(100vw - 260px);
}

.ui.bottom.attached.segment.pushable {
  border: none;
  border-radius: 0px;
}

.ui.visible.inverted.left.vertical.sidebar.menu {
  background: rgba(27, 28, 29, 0.95);
}

.ui.basic.segment {
  padding: 5em;
}

.ui.basic.segment > h1 {
  margin-bottom: 2em;
}

.item.brand {
  font-family: Yellowtail;
  font-size: 3em;
  font-weight: normal;
  text-align: center;
}

.photogram {
  font-family: Yellowtail;
  font-size: 140%;
  font-weight: normal;
  padding-right: 5px;
}

.action.buttons.cell > a {
  margin: 5px;
}

.switch.layout {
  margin-bottom: 1em;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tag.labels {
  margin-top: 0.5em;
}

