@import "root.scss";

.pusher {
	width: calc(100vw - 260px);
}

.ui.bottom.attached.segment.pushable {
	border: none;
	border-radius: 0px;
}

.ui.visible.inverted.left.vertical.sidebar.menu {
	background: rgba(#1b1c1d, 0.95);
}

.ui.basic.segment {
	padding: 5em;
}

.ui.basic.segment > h1 {
	margin-bottom: 2em;
}

.item.brand {
	font-family: Yellowtail;
	font-size: 3em;
	font-weight: normal;
	text-align: center;
}

.photogram {
	font-family: Yellowtail;
	font-size: 140%;
	font-weight: normal;
	padding-right: 5px;
}

.action.buttons.cell > a {
	margin: 5px;
}

.switch.layout {
	margin-bottom: 1em;
	border: 0px;
	box-shadow: none;
}

.tag.labels {
	margin-top: 0.5em;
}