@import "root.scss";

.masthead.segment {
	min-height: 100vh;
}

#photogram-header {
	margin-top: 1.5em;
	font-size: 9em;
	font-family: Yellowtail;
	font-weight: normal;
}

#photogram-subheader {
	font-size: 1.7em;
	font-weight: normal;
}

#photogram-action {
	margin-top: 2em;
}
