#app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#content {
	border-bottom: none;
	flex: 1;
}

#toastr-slot {
	display: none;
}

.masthead.segment {
	padding: 1em 0em;
	background: Black url("/images/landing.jpg") !important;
	background-repeat: no-repeat;
	background-attachment: fixed !important;
	background-position: center !important; 
}

.masthead .ui.menu .ui.button {
	margin-left: 0.5em;
}

.ui.vertical.stripe {
	padding: 8em 0em;
}

.ui.vertical.stripe h3 {
	font-size: 2em;
}

.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
	margin-top: 3em;
}

.ui.vertical.stripe .floated.image {
	clear: both;
}

.ui.vertical.stripe p {
	font-size: 1.33em;
}

.ui.vertical.stripe .horizontal.divider {
	margin: 3em 0em;
}

.quote.stripe.segment {
	padding: 3em;
}

.quote.stripe.segment .grid .column {
	padding-top: 5em;
	padding-bottom: 5em;
}

.footer.segment {
	padding: 4em 0em;
}

.ui.large.secondary.inverted.pointing.menu {
	border: 0px;
}

#photogram-header-simple {
	font-family: Yellowtail;
	font-size: 3em;
	padding: .25em;
	font-weight: normal;
	color: White;
}

.hidden {
	display: none;
}