<template>
	<div class="full width">
		<div class="auth header">
			<div class="ui red icon header" v-if="hasErrorOccurred">
				<i class="close icon"></i>
				An error has occured: {{ errorMessage }}
			</div>
			<div class="ui icon header" v-else>
				<i class="sign in icon"></i>
				{{ formTitle }} to Photogram
			</div>
		</div>

		<div class="content">
			<form id="login-form" @submit.prevent="attemptPost">
				<div class="ui secondary segment">
					<div class="ui three column grid form">
						<div class="field column">
							<label>Username</label>
							<div class="ui fluid icon input">
								<input v-model="credentials.name" placeholder="Username" type="text" autofocus>
								<i class="user icon"></i>
							</div>
						</div>
						<div class="field column" v-if="!isLogin">
							<label>E-mail address</label>
							<div class="ui fluid icon input">
								<input v-model="credentials.email" placeholder="E-mail address" type="text">
								<i class="at icon"></i>
							</div>
						</div>
						<div class="field column">
							<label>Password</label>
							<div class="ui fluid icon input">
								<input v-model="credentials.password" placeholder="Password" type="password">
								<i class="lock icon"></i>
							</div>
						</div>
						<div class="field column" v-if="!isLogin">
							<label>Repeat password</label>
							<div class="ui fluid icon input">
								<input v-model="credentials.repeatedPassword" placeholder="Repeat password" type="password">
								<i class="lock icon"></i>
							</div>
						</div>
						<div class="field column" v-if="!isLogin">
							<label>Terms</label>
							<div class="ui checkbox">
								<input v-model="credentials.termsAgreement" type="checkbox">
								<label>I agree to the Terms and Conditions</label>
							</div>
						</div>
						<div class="field column">
							<label>Submit</label>
							<button class="ui fluid green ok button" v-bind:class="{ loading: loading }" type="submit">
								<i class="sign in icon"></i>
								{{ formTitle }}
							</button>
						</div>
					</div>

					<input class="hidden" type="submit">
				</div>
			</form>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {
			return {
				credentials: {
					name: "",
					email: "",
					password: "",
					repeatedPassword: "",
					termsAgreement: "",
				},
				hasErrorOccurred: false,
				errorMessage: "",
				loading: false
			}
		},
		computed: {
			formTitle: function() {
				return this.formName == "login" ? "Log in" : "Sign up"
			},
			isLogin: function() {
				return this.formName == "login"
			},
		},
		props: [
			"attempt-url",
			"form-name",
		],
		methods: {
			attemptPost: function() {
				this.toggleLoading()
				axios.post(this.attemptUrl, this.credentials).then(response => {
					if(response.data.success) {
						window.location = response.data.redirect
					} else {
						this.reloadAuthButton(response.data.message)
					}
				})
			},
			reloadAuthButton: function(message) {
				this.toggleLoading()
				this.hasErrorOccurred = true
				this.errorMessage = message
			},
			toggleLoading: function() {
				this.loading = !this.loading
			}
		}
	}
</script>

<style>
	#authentication, .full.width {
		width: 100%;
	}

	.hidden {
		display: none;
	}

	.auth.header {
		text-align: center;
		padding: 5em;
	}
</style>
