<template>
	<a class="ui red button" v-on:click="openConfirmationModal">
		<i class="close icon"></i>
		delete
	</a>
</template>

<script type="text/javascript">
	export default {
		methods: {
			openConfirmationModal() {
				$(".ui.basic.modal")
					.data("photo-id", this.photoId)
					.modal("show")
			}
		},
		props: ["photoId"]
	}
</script>
