<template>
	<div class="ui basic modal">
		<div class="ui icon header">
			<i class="trash icon"></i>
			Are you sure? An operation of deleting a photo is irreversible.
		</div>
		<div class="actions">
			<div class="ui basic inverted button" v-on:click="closeModal">
				<i class="chevron left icon"></i>
				I've changed my mind
			</div>
			<div class="ui red inverted button" v-on:click="deletePhoto" v-bind:class="{ loading: loading }">
				<i class="trash icon"></i>
				Delete this photo
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {
			return {
				loading: false
			}
		},
		mounted() {
			this.modalElement = $(".ui.basic.modal")
		},
		methods: {
			deletePhoto() {
				var self = this
				var photoId = this.modalElement.data("photo-id")

				axios.delete(this.attemptUrl + "/" + photoId).then(response => {
					self.loading = true
					if(response.data.success) {
						window.location = response.data.redirect
					}
				})
			},
			closeModal() {
				this.modalElement.modal("hide")
				this.loading = false
			}
		},
		props: ["attempt-url"]
	}
</script>