<template>
	<a class="item" v-on:click="attemptLogout">
		<i class="sign out icon" v-if="!loading"></i>
		<i class="spinner loading icon" v-else></i>
		Log out
	</a>
</template>

<script type="text/javascript">
	import Logout from "../mixins/Logout"
	export default { mixins: [Logout] }
</script>
