<template>
	<a class="ui inverted button" id="logout" v-on:click="attemptLogout" v-bind:class="{ loading: loading }">Logout</a>
</template>

<script type="text/javascript">
	import Logout from "../mixins/Logout"
	export default { mixins: [Logout] }
</script>
