<template>
	<div>
		<div class="ui fluid huge right labeled input">
			<input placeholder="Explore tags and descriptions..." ref="search" type="text" autofocus="autofocus" v-model="searchPhrase">
			<div class="ui label">
				<i class="icon search"></i>
				search
			</div>
		</div>

		<div v-if="!anyResults" class="ui icon message top seperated">
			<i class="warning circle icon"></i>
			<div class="content">
				<div class="header">No results!</div>
				<p>We have'nt found anything for phrase <em>{{ searchPhrase }}</em>.</p>
			</div>
		</div>

		<div class="ui segment" id="search-results">
			<div v-if="!loading">
				<div v-if="anyResults">
					<div v-for="result in foundResults">
						xd
					</div>
				</div>
			</div>

			<div class="ui" v-else>
				<div class="ui active inverted dimmer">
					<div class="ui text loader">Loading...</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	export default {
		data() {
			return {
				foundResults: [],
				loading: false,
				searchPhrase: "",
				timeout: null
			}
		},
		computed: {
			anyResults: function() {
				return this.foundResults.length > 0
			}
		},
		mounted() {
			this.$refs.search.focus()
		},
		methods: {
			search() {
				var self = this

				self.loading = true
				self.foundResults = []

				axios.get("search/test").then(response => {
					if(response.data.success) {
						self.foundResults = response.data.data.results
					}

					self.loading = false
				})
			},
			reset() {
				this.foundResults = []
				this.loading = false
				this.searchPhrase = ""
			},
		},
		watch: {
			searchPhrase: function(phrase) {
				var self = this

				clearTimeout(self.timeout)
				self.timeout = setTimeout(function() {
					if(phrase) {
						self.search()
					} else {
						self.reset()
					}
				}, 500)
			}
		}
	}
</script>

<style lang="scss">
	#search-results {
		margin-top: 3em;
		border: 0px;
		box-shadow: none;
	}
</style>
