<template>
	<select id="tags" name="tags" multiple="" class="ui fluid normal selection multiple search dropdown" v-model="$parent.photo.tags">
		<option value="">Tags</option>
	</select>
</template>

<script type="text/javascript">
	export default {
		mounted() {
			$("#tags").dropdown({
				allowAdditions: true,
				apiSettings: {
					url: this.$parent.tagUrl + "/{query}"
				}
			})
		}
	}
</script>
