<template>
	<div v-if="!uploaded">
		<my-upload field="photo"
			@crop-success="cropSuccess"
			@crop-upload-success="cropUploadSuccess"
			@crop-upload-fail="cropUploadFail"
			:width="720"
			:height="720"
			:url="attemptUrl"
			:params="params"
			v-model="show"
			lang-type="en"
			img-format="jpg"></my-upload>
	</div>
	<div v-else>
		<div id="login-form">
			<div class="ui secondary segment">
				<div class="ui grid form">
					<div class="field four wide column">
						<label>Photo</label>
						<div class="ui centered card" v-if="photoUrl">
							<div class="image">
								<img :src="photoUrl">
							</div>
						</div>
					</div>
					<div class="field twelve wide column" id="right-column">
						<label>Description</label>
						<textarea rows="4"  v-model="photo.description"></textarea>

						<label class="photo form label">Tags</label>
						<tag-select-field></tag-select-field>

						<label class="photo form label">Is public?</label>
						<div class="ui toggle checkbox">
							<input type="checkbox" v-model="photo.is_public">
							<label>Is public?</label>
						</div>

						<label class="photo form label">Submit</label>
						<button class="ui fluid green ok button" type="submit" v-bind:class="{ loading: loading }" v-on:click="submitForm">
							<i class="sign in icon"></i>
							Submit
						</button>
					</div>
				</div>

				<input class="hidden" type="submit">
			</div>
		</div>
	</div>
</template>

<script type="text/javascript">
	import MyUpload from "vue-image-crop-upload"
	import TagSelectField from "./TagSelectField"

	export default {
		data() {
			return {
				loading: false,
				params: {
					_token: axios.defaults.headers.common["X-CSRF-TOKEN"]
				},
				photoUrl: "",
				show: true,
				uploaded: false,
			}
		},
		components: {
			MyUpload,
			TagSelectField,
		},
		methods: {
			toggleShow() {
				this.show = !this.show
			},
			toggleLoading() {
				this.loading = !this.loading
			},
			cropSuccess(photoUrl, field) {
				this.photoUrl = photoUrl
			},
			cropUploadSuccess(jsonData, field) {
				this.uploaded = true
				this.photo = jsonData.data.photo
				toastr.success(jsonData.message)
			},
			cropUploadFail(status, field) {
			},
			submitForm() {
				this.toggleLoading()
				axios.post(this.attemptUrl + "/" + this.photo.id, this.photo).then(response => {
					if(response.data.success && response.data.redirect) {
						window.location = response.data.redirect
					}
					this.toggleLoading()
				})
			}
		},
		props: [
			"attempt-url",
			"tag-url",
		],
	}
</script>

<style lang="scss">
	.vue-image-crop-upload {
		background: none !important;
	}

	.vicp-wrap {
		box-shadow: none !important;
	}

	.vicp-close, .vicp-crop-right, .vicp-step1 > .vicp-operate {
		display: none;
	}

	.vicp-crop-left {
		float: none;
		width: 100%;
	}

	.vicp-img-container {
		width: 100%;
		margin: 0px auto;
	}

	.vicp-range {
		margin: 30px auto !important;
	}

	.photo.form.label {
		margin-top: .5em !important;
	}
</style>